<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shankong.mapper.CatalogMapper">

    <!-- 更改catalog -->
    <update id="updateCatalog">
        UPDATE db_catalog
        <set>
            <if test="catalogName != null and catalogName != ''">
                catalog_name = #{catalogName},
            </if>
            <if test="catalogNumber != null and catalogNumber != ''">
                catalog_number = #{catalogNumber},
            </if>
            <if test="catalogState != null">
                catalog_state = #{catalogState},
            </if>
        </set>
        WHERE catalog_id = #{catalogId}
    </update>

    <!-- 批量逻辑删除 -->
    <update id="batchDeactivate">
        UPDATE db_catalog
            SET catalog_state = 2
                WHERE catalog_id IN
                    <foreach collection="ids" item="id" open="(" separator="," close=")">
                        #{id}
                    </foreach>
    </update>
</mapper>
